<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github Workflow Builder</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="topbar">
        <button onclick="window.location.href = '/login'">Login</button>
    </div>
    <h1 id="title">Github workflows<br>made<br><span id="easyText">easy</span></h1>
    <p id="titleSubtext"><i>Easy to use Github Workflow Builder Tool</i></p>
    <div id="bottom">
        <img id="img1" src="https://placehold.co/500x366">
        <p id="EasyToUse">Easy to use<br><span id="dragAndDrop">DRAG AND DROP</span><br>system</p>
        <img id="img2" src="https://placehold.co/500x366">
        <p id="ImportWorkflows">Import<br><span id="existing">EXISTING</span><br>workflows</p>
        <img id="img3" src="https://placehold.co/500x366">
        <p id="EditWorkflows">Edit<br>workflows<br><span id="visually">VISUALLY</span></p>
        <img id="img3" src="https://placehold.co/500x366">
    </div>
</body>
</html>