@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    background-color: #0A0A0A;
    color: white;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
}

#title {
    line-height: 1;
}

#topbar {
    background-color: #1f1f1f;
    height: 7.5vh;
    text-align: right;
    padding-right: 20px;
    padding-top: 20px
}

#topbar button {
    background-color: #259c3f;
    color: white;
    padding-top: 0px;
    width: 10vw;
    font-size: 35px;
    border: solid black;
    border-radius: 15px;
    transition: all 0.3s ease;
}
#topbar button:hover {
    font-size: 40px;
    background-color: #1d7a31;
    transition: all 0.3s ease;
}

#easyText {
    background: linear-gradient(0deg, #ff5e00, #ffbb00);
    font-size: 125px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: block;
    margin-top: -30px; 
}

#titleSubtext {
    font-family: "Istok Web", sans-serif;
    font-style: normal;
    font-weight: 100;
}