<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="./style.css" rel="stylesheet">
</head>
<body>
    <div id="topbar">
        <button onclick="window.location.href = '/'" id="topbarBtn">Home</button>
    </div>
    <h1>Login</h1>
    <div id="loginContainer">
        <input id="username" type="text" placeholder="Username">
        <br>
        <input id="password" type="password" placeholder="Password">
        <br>
        <p id="iForgor_skull"><a href="https://example.com">Forgot Password?</a></p>
        <p id="noAccount">Don't have an account?<br>Sign up <a href="/signup">here!</a></p>
        <button onclick="login()">Login</button>
        <br>
        <p id="note"></p>
    </div>
    
</body>
<script src="./login.js"></script>
</html>