#account {
    position: relative;
    text-align: left;
    margin-left: 27.5%;
    margin-top: 7.5vh;
}

#account p:not([id]) {
    color: rgb(167, 167, 167);
    font-size: 35px;
}

#account p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5%;
}

#account h2 {
    margin: 0;
}

#account > p > button {
    border: none;
    background-color: transparent;
    color: #0084E4;
    font-size: 28px;
    font-weight: 700;
    transition: all 0.3s ease
}

#account > p > button:hover {
    border: none;
    background-color: transparent;
    color: #0084E4;
    font-size: 32px;
    transition: all 0.3s ease
}

#account #pfp {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: solid 1px white;
}
#account .pfp button {
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
}