.placedWorkflowComponent {
    background-color: #242424;
}

#actionComponent,
#commandComponent,
#uploadComponent {
    position: absolute;
    border-radius: 20px;
    border: 3px solid black;
}

#actionComponent {
    width: 250px;
    height: 175px;
}

#commandComponent, #uploadComponent {
    width: 250px;
    height: 220px;
}

.seperator {
    background-color: rgb(58, 58, 58);
    width: 100%;
    height: 2px;
    margin-top: -5px;
}

#actionComponent #actionName,
#commandComponent #commandName,
#uploadComponent #uploadRules {
    font-size: 20px;
    font-weight: 100;
    margin: 10px;
    text-align: left;
}

#actionComponent button,
#commandComponent button,
#uploadComponent button {
    color: white;
    font-size: 40px;
    width: 90%;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 30px;
    font-weight: 700;
}

#actionComponent button {
    background-color: red;
}

#commandComponent button {
    background-color: #FF7A00;
}

#uploadComponent button {
    background-color: #FFD600;
}

#actionComponent > p,
#commandComponent > p,
#uploadComponent > p {
    margin: 10px;
    text-align: left;
}

#actionComponent:hover {
    background-color: #313131;
}

