#topbar {
    z-index: 2;
}

#unsupported {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.8);
    width: 100%;
    display: none;
}

#unsupportedContainer {
    width: 100%;
    height: 100%;
    position: absolute;
}

@media (max-width: 750px) {
    #unsupported {
        display: block;
    }
}