#ExportMenu {
    position: absolute;
    z-index: 4;
    background-color: rgba(1,1,1,0.6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#exportText {
    margin: 0;
    margin-bottom: 10px;
}

#ExportPanel {
    position: relative;
    background-color: rgb(49, 49, 49);
    width: 40%;
    height: 70%;
    border-radius: 20px;
}

#exit {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}

#codeblock {
    background-color: black;
    padding: 20px;
    padding-top: 0px;
    white-space: pre-wrap;
    text-align: left;
    margin: 40px;
    border-radius: 20px;
    height: 85%;
    max-width: 75%;
}

.noBg .react-syntax-highlighter-line {
    background-color: transparent !important;
}