@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    background-color: #0A0A0A;
    color: white;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
}

h1 {
    margin-top: 90px;
}

#content {
    background-color: #1f1f1f;
    min-width: 500px;
    min-height: 100px;
    max-height: fit-content;
    max-width: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    border: 2px solid rgb(58, 58, 58);
}

#content.error {
    background-color: #490000;
    border: 2px solid rgb(99, 24, 24);
}

#content > p {
    margin-bottom: 5px;
}

#content > a {
    margin-bottom: 40px;
}

#content .main {
    font-size: 40px;
    margin: 50px;
}

#content .note {
    font-size: 20px;
    margin: 0;
    font-weight: 300;
}

#content > a {
    margin-top: 0;
}

#content > button {
    color: white;
    border: none;
    border-radius: 15px;
    width: 90%;
    height: 70px;
    font-size: 40px;
    padding: 10px 0;
    transition: all 0.25s ease;
    text-align: center;
    background-color: #2AB941;
    transition: background-color, font-size 0.3s ease;
    margin-bottom: 20px;
}

#content > button:hover {
    background-color: #218d33;
    font-size: 45px;
    transition: background-color, font-size 0.3s ease;
}