@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loading img {
    animation: spin infinite 2s linear;
    width: 192px;
    height: 192px;
}