#topbar {
    background-color: #1f1f1f;
    height: 7.5vh;
    text-align: right;
    padding-right: 10px;
    padding-top: 20px;
}

#topbar img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 64px;
}

#topbar .regular,
#topbarText {
    background-color: rgb(0,0,0,0);
    color: white;
    padding-top: 0px;
    width: 10vw;
    font-size: 35px;
    border: none;
    transition: all 0.3s ease;
}

#topbar .green {
    background-color: #259c3f;
    color: white;
    padding-top: 0px;
    width: 10vw;
    font-size: 35px;
    border: solid black;
    border-radius: 15px;
    transition: all 0.3s ease;
}

#topbar .green:hover {
    font-size: 40px;
    background-color: #1d7a31;
    transition: all 0.3s ease;
}

#topbar .regular:hover {
    font-size: 40px;
    transition: all 0.3s ease;
}